# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Android related
**/android/idea/
**/android/.gradle
**/android/captures/
**/android/local.properties
**/android/generated/
**/android/key.properties
**/android/*.jks
**/android/*.keystore
**/android/app/src/main/assets/

# iOS/XCode related
**/ios/*.mode1v3
**/ios/*.mode2v3
**/ios/*.moved-aside
**/ios/*.pbxuser
**/ios/*.perspectivev3
**/ios/flutter_export_environment.sh
**/ios/Podfile.lock
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/ios/Runner.xcworkspace/xcshareddata/
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/ServiceDefinitions.json

# Root config
pubspec.lock
